@font-face {
    font-family: Inter;
    src: url("/Inter.ttf") format("ttf")
}

:root {
    font-family: Inter, Arial, sans
}

body {
    background-color: #4f2e59;
    color: #e5e4d3;
    text-align: center;
}
