@font-face {
  font-family: Inter;
  src: url("./Inter.ttf") format("ttf");
}

:root {
  font-family: Inter, Arial, sans;
}

html {
  background-color: #27163a;
  color: #e5e4d3;
  text-align: center;
  font-size: 20px;
}

.content {
    text-align: start;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 864px;
    padding-top: 15px;
}

button {
  cursor: pointer;
}

.cover {
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: calc(100px + 1vh);
  position: relative;
  font-size: 120px;
  overflow: clip;
}

.cover:after {
  padding-bottom: calc(40px + 1vh);
}

.cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/favicon.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  filter: blur(10px);
  z-index: 0;
}

.covertext {
  font-size: 64px;
  position: relative;
  z-index: 1;
  color: black;
}

@media only screen and (max-width: 320px) {
  .covertext {
    font-size: 16vw;
    width: 50%;
  }
}

.button {
  text-align: center;
  background-color: #412F55;
  color: #ffffff;
  font-family: Inter, Arial, sans;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 12px;
  display: block;
  width: 100%;
}

table {
    border-spacing: 10px;
}

a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .button {
        font-size: 30px;
    }
    tr {
        display: block !important;
        width: 100% !important;
    }
    td {
        display: block !important;
        width: 100% !important;
        margin-bottom: 10px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
    }
    table {
        width: 100%;
    }
}
