---
import Main from "../layouts/Main.astro";
---

<Main title="ToS" covertext="Terms of Service + Privacy Policy">
  <h1>Usage Agreement</h1>
  <style>
    p,
    h1,
    h2,
    li,
    ul {
      text-align: left !important;
    }
  </style>
  <p>
    By inviting the Bot and using its features (commands, moderation logging),
    you agree to the Bot's below-mentioned Terms and Privacy Policy (Policy).
    You acknowledge that you have the privilege to use the Bot freely on any
    Discord Server (Server) you share with it, that you can invite it to any
    Server in which you have "Manage Server" rights. You also accept that this
    privilege might get revoked for you if you are subject to breaking the terms
    or Policy of this Bot or the Terms of Service, Privacy Policy, or Community
    Guidelines of Discord Inc. By inviting the Bot, it may collect specific data
    described in its Policy. The intended usage of this data is for core
    functionalities of the Bot, such as command handling, guild-specific
    settings, and moderation logging.
  </p>
  <h2>Intended Age</h2>
  <p>
    Individuals may not use the Bot under the minimal age described in Discord's
    Terms of Service.
  </p>
  <h2>Affiliation</h2>
  <p>
    The Bot is not affiliated with, supported, or made by Discord Inc. Any
    direct connection to Discord or its Trademark objects is purely
    coincidental. We do not claim copyright ownership of Discord's assets,
    trademarks, or other intellectual property.
  </p>
  <h2>Liability</h2>
  <p>
    The Bot's owner may not be made liable for individuals breaking these Terms.
    The owner has faith in the end-users being truthful about their information
    and not misusing this Bot or the services of Discord Inc maliciously. We
    reserve the right to update these terms at our discretion, giving you a
    1-Week (7 days) period to opt-out of these terms if you disagree with the
    new changes. You may opt out by removing the Bot from Servers where you have
    permission to do so.
  </p>
  <h2>Contact</h2>
  <p>
    People may get in contact through the official Discord support server of the
    Bot. Other ways of support may be provided but are not guaranteed.
  </p>

  <h1>Usage of Data</h1>
  <p>
    The Bot may use stored data, as defined below, for different features,
    including but not limited to moderation logging and error handling. No data
    usage outside of the cases below will happen, and the data is not shared
    with any 3rd-party site or service.
  </p>
  <h2>Stored Information</h2>
  <p>
    The Bot may store the following information automatically when being invited
    to a new Discord Server:
  </p>
  <ul>
    <li>Server ID</li>
    <li>Channel for moderation logging</li>
  </ul>
  <p>
    The Bot may also store invite link IDs and their usage counts to show who
    invited a user in logs when a user joins that Server. The Bot may store the
    following information automatically when an error is encountered:
  </p>
  <ul>
    <li>The name of the event</li>
    <li>
      Data associated with the error, possibly including:
      <ul>
        <li>User IDs</li>
        <li>Guild info</li>
      </ul>
    </li>
  </ul>

  <p>
    The Bot will store no other information outside of the ones mentioned above.
  </p>
  <h2>Updating Data</h2>
  <p>
    The data may be updated when using specific commands. Updating data will
    require an end user's input, and data that can be seen as sensitive, such as
    the content of a message, may need to be stored when using specific
    commands. No other actions may update the stored information at any given
    time.
  </p>
  <h2>Temporarily stored information</h2>
  <p>
    The Bot may keep the stored information in an internal caching mechanic for
    a specific time. After this time, the cached information will be dropped and
    only be re-added when required. Data may be dropped from the cache
    prematurely through actions such as removing the Bot from the Server.
  </p>
  <h1>Removal of Data</h1>
  <h2>Automatic removal</h2>
  <p>
    Stored data can be removed automatically by removing the Bot from a Server,
    which can be achieved by either kicking or banning the Bot from the Server.
  </p>
  <h2>Manual removal</h2>
  <p>
    Manual removal of the data can be requested through Discord by sending a
    Direct Message to the owner (mugman) of the Bot.
  </p>
  <p>
    For security reasons, will we ask you to provide us with proof of ownership
    of the Server where you wish the data to be removed. Only a server owner may
    request manual removal of data, and asking it will result in the Bot being
    removed from the Server if still present on it.
  </p>
  <h2>Technical limitations</h2>
  <p>
    Automatic data removal has certain limitations that we cannot fix or avoid.
    Limitations include, but are not limited to, downtime of the Bot due to
    maintenance or technical issues at our hosting provider or Discord Inc. In
    such cases, you may contact the bot owner over email at
    mugvbot<i>@gmail.com</i>.
  </p>
</Main>
