---
export interface Props {
  title: string;
  covertext: string;
}

const { title, covertext } = Astro.props;
import "../styles/main.scss";
---

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Bifrost is a Discord bot built for all of your auditing and logging needs." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.webp" />
    <title>{title}</title>
</head>
<body>
  <div class="cover">
  <div class="coverimage"/>
  <h1 class="covertext">{covertext}</h1>
  </div>
  <hr/>
    <slot />
</body>
</html>
